<a href="https://colab.research.google.com/github/IliasMCBM/EDA/blob/main/Copia_de_Target_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

base_path = "/content/drive/MyDrive/Colab Notebooks/Target churn"
persondf = pd.read_parquet(f"{base_path}/clients.parquet")
billdf = pd.read_csv(f"{base_path}/billing.csv", sep=";")
tenuredf = pd.read_json(f"{base_path}/tenure.json", orient="records")

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Colab Notebooks/Target churn/clients.parquet'

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
persondf["churn_month"] = persondf["churn_date"].dt.month
billdf["billing_date"] = pd.to_datetime(billdf["billing_date"], errors="coerce")
billdf["month"] = billdf["billing_date"].dt.month
tenuredf["month"] = tenuredf["date"].dt.month
df = persondf.merge(billdf, on="customerid").merge(tenuredf, on=["customerid", "month"], how="left")

In [ ]:
df

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,churn_date,country,...,onlinesecurity,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,date,tenure_months,tenure_penalty
0,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,No,Yes,No,No,0,No,1,2023-01-31,6.0,89.17
1,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,No,Yes,No,No,0,No,2,2023-02-28,5.0,74.31
2,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,No,Yes,No,No,0,No,3,2023-03-31,4.0,59.45
3,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,No,Yes,No,No,0,No,4,2023-04-30,3.0,44.59
4,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,No,Yes,No,No,0,No,5,2023-05-31,2.0,29.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100775,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,No,1,No,4,NaT,NaN,NaN
100776,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,No,1,No,5,NaT,NaN,NaN
100777,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,No,1,No,6,NaT,NaN,NaN
100778,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,No,1,No,7,NaT,NaN,NaN
100779,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,No,1,No,8,NaT,NaN,NaN

In [ ]:
df["target"] = (df["churn_date"] - df["billing_date"]).dt.days < 100
df["target"] = df["target"].astype(int)

In [ ]:
df

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,churn_date,country,...,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,date,tenure_months,tenure_penalty,target
0,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,Yes,No,No,0,No,1,2023-01-31,6.0,89.17,0
1,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,Yes,No,No,0,No,2,2023-02-28,5.0,74.31,0
2,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,Yes,No,No,0,No,3,2023-03-31,4.0,59.45,0
3,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,Yes,No,No,0,No,4,2023-04-30,3.0,44.59,0
4,3d40ba9d86cc7b97612628a924cd63bc,Female,Yes,Electronic check,0,2022-12-22,Yes,1975-05-01,NaT,ES,...,Yes,No,No,0,No,5,2023-05-31,2.0,29.72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100775,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,1,No,4,NaT,NaN,NaN,0
100776,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,1,No,5,NaT,NaN,NaN,1
100777,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,1,No,6,NaT,NaN,NaN,1
100778,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,1,No,7,NaT,NaN,NaN,1
100779,7aea14389aa3d73fd383221574f76778,Female,Yes,Electronic check,0,2022-12-11,No,1964-04-02,2023-08-18,ES,...,No,No,No,1,No,8,NaT,NaN,NaN,1

In [ ]:
df.target.value_counts()

0    88712
1    12068
Name: target, dtype: int64

In [ ]:
df = df.sort_values(["customerid", "month"])

In [ ]:
df

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,churn_date,country,...,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,date,tenure_months,tenure_penalty,target
46732,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,NaT,ES,...,No internet service,No internet service,No internet service,2,No,1,NaT,NaN,NaN,0
46733,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,NaT,ES,...,No internet service,No internet service,No internet service,2,No,2,NaT,NaN,NaN,0
46734,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,NaT,ES,...,No internet service,No internet service,No internet service,2,No,3,NaT,NaN,NaN,0
46735,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,NaT,ES,...,No internet service,No internet service,No internet service,2,No,4,NaT,NaN,NaN,0
46736,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,NaT,ES,...,No internet service,No internet service,No internet service,2,No,5,NaT,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74512,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,NaT,ES,...,No,No,Yes,1,No,6,NaT,NaN,NaN,0
74513,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,NaT,ES,...,No,No,Yes,1,No,7,NaT,NaN,NaN,0
74514,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,NaT,ES,...,No,No,Yes,1,No,8,NaT,NaN,NaN,0
74515,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,NaT,ES,...,No,No,Yes,1,No,9,NaT,NaN,NaN,0
74516,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,NaT,ES,...,No,No,Yes,1,No,10,NaT,NaN,NaN,0

In [ ]:
df["increased_rate_diff"] = df.groupby("customerid")["monthlycharges"].diff(1)
df["increased_rate_pct"] = df.groupby("customerid")["monthlycharges"].pct_change(1)

In [ ]:
df["age"] = (df["billing_date"] - df['birth_date']).astype('timedelta64[Y]').astype('int')
df["contract_months"] = (df["billing_date"] - df['contract_date']).astype('timedelta64[M]').astype('int')
df = df.drop(columns=["churn_date", "billing_date", "date", "churn_month"])

In [ ]:
df

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,country,zipcode,...,phone_lines,streaming,month,tenure_months,tenure_penalty,target,increased_rate_diff,increased_rate_pct,age,contract_months
46732,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,...,2,No,1,NaN,NaN,0,NaN,NaN,18,10
46733,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,...,2,No,2,NaN,NaN,0,0.0,0.0,18,11
46734,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,...,2,No,3,NaN,NaN,0,0.0,0.0,18,12
46735,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,...,2,No,4,NaN,NaN,0,0.0,0.0,19,13
46736,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,...,2,No,5,NaN,NaN,0,0.0,0.0,19,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74512,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,...,1,No,6,NaN,NaN,0,0.0,0.0,20,8
74513,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,...,1,No,7,NaN,NaN,0,0.0,0.0,20,9
74514,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,...,1,No,8,NaN,NaN,0,0.0,0.0,20,10
74515,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,...,1,No,9,NaN,NaN,0,0.0,0.0,20,11
74516,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,...,1,No,10,NaN,NaN,0,0.0,0.0,20,12

In [ ]:
df.describe()

,children,monthlycharges,phone_lines,month,tenure_months,tenure_penalty,target,increased_rate_diff,increased_rate_pct,age,contract_months
count,100780.000000,100507.000000,100780.000000,100780.000000,26601.000000,26601.000000,100780.000000,89299.000000,89299.000000,100780.000000,100780.000000
mean,0.468387,65.937841,1.317682,5.208266,5.459156,98.184654,0.119746,0.502125,0.007673,40.737924,38.177694
std,0.750265,31.834821,0.642785,2.834549,3.370749,67.184301,0.324666,2.771756,0.038416,19.085258,24.919996
min,0.000000,18.250000,0.000000,1.000000,1.000000,10.000000,0.000000,0.000000,0.000000,11.000000,0.000000
25%,0.000000,30.960000,1.000000,3.000000,3.000000,44.500000,0.000000,0.000000,0.000000,25.000000,15.000000
50%,0.000000,70.350000,1.000000,5.000000,5.000000,84.040000,0.000000,0.000000,0.000000,39.000000,36.000000
75%,1.000000,91.150000,2.000000,8.000000,8.000000,138.460000,0.000000,0.000000,0.000000,53.000000,62.000000
max,2.000000,142.380000,2.000000,10.000000,14.000000,362.300000,1.000000,23.730000,0.200000,89.000000,81.000000

In [ ]:
df.to_parquet("data_churn.parquet")

In [ ]:
import pandas as pd

df= pd.read_parquet('/content/drive/MyDrive/Colab Notebooks/Entrega1_ML/data_churn.parquet')

In [4]:
pd.set_option('display.max_columns', None)
df

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,country,zipcode,contract_channel,monthlycharges,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,tenure_months,tenure_penalty,target,increased_rate_diff,increased_rate_pct,age,contract_months
46732,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,1,NaN,NaN,0,NaN,NaN,18,10
46733,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,2,NaN,NaN,0,0.0,0.0,18,11
46734,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,3,NaN,NaN,0,0.0,0.0,18,12
46735,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,4,NaN,NaN,0,0.0,0.0,19,13
46736,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,5,NaN,NaN,0,0.0,0.0,19,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74512,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,None,50.25,DSL,No,No,No,Yes,1,No,6,NaN,NaN,0,0.0,0.0,20,8
74513,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,None,50.25,DSL,No,No,No,Yes,1,No,7,NaN,NaN,0,0.0,0.0,20,9
74514,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,None,50.25,DSL,No,No,No,Yes,1,No,8,NaN,NaN,0,0.0,0.0,20,10
74515,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,None,50.25,DSL,No,No,No,Yes,1,No,9,NaN,NaN,0,0.0,0.0,20,11
74516,fffa6e797408af052858477b24391591,Male,Yes,Mailed check,0,2022-10-26,No,2003-05-22,ES,42006,None,50.25,DSL,No,No,No,Yes,1,No,10,NaN,NaN,0,0.0,0.0,20,12

In [6]:
df.describe(include='all')

<ipython-input-6-174ba9bf1a5c>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all')
<ipython-input-6-174ba9bf1a5c>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all')

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,country,zipcode,contract_channel,monthlycharges,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,tenure_months,tenure_penalty,target,increased_rate_diff,increased_rate_pct,age,contract_months
count,100780,100509,100542,100534,100780.000000,100780,100475,100780,100780,100735,24754,100507.000000,100501,100575,100530,100562,100534,100780.000000,100780,100780.000000,26601.000000,26601.000000,100780.000000,89299.000000,89299.000000,100780.000000,100780.000000
unique,11236,2,2,4,NaN,1997,2,8828,2,6328,3,NaN,3,3,3,3,3,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,000aa74f2769e670325b6e7e76805954,Male,Yes,Electronic check,NaN,2022-12-27 00:00:00,No,1995-08-02 00:00:00,ES,50144,Phone,NaN,Fiber optic,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,10,50912,57455,30985,NaN,346,50658,42,100735,60,9643,NaN,41342,46562,41615,41867,46336,NaN,51201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,2017-01-01 00:00:00,NaN,1934-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2023-01-28 00:00:00,NaN,2011-12-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,0.468387,NaN,NaN,NaN,NaN,NaN,NaN,65.937841,NaN,NaN,NaN,NaN,NaN,1.317682,NaN,5.208266,5.459156,98.184654,0.119746,0.502125,0.007673,40.737924,38.177694
std,NaN,NaN,NaN,NaN,0.750265,NaN,NaN,NaN,NaN,NaN,NaN,31.834821,NaN,NaN,NaN,NaN,NaN,0.642785,NaN,2.834549,3.370749,67.184301,0.324666,2.771756,0.038416,19.085258,24.919996
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000,1.000000,10.000000,0.000000,0.000000,0.000000,11.000000,0.000000
25%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,30.960000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,3.000000,3.000000,44.500000,0.000000,0.000000,0.000000,25.000000,15.000000
50%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,5.000000,5.000000,84.040000,0.000000,0.000000,0.000000,39.000000,36.000000
75%,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,91.150000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,8.000000,8.000000,138.460000,0.000000,0.000000,0.000000,53.000000,62.000000
max,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,142.380000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,10.000000,14.000000,362.300000,1.000000,23.730000,0.200000,89.000000,81.000000

In [7]:
print(df.columns)

Index(['customerid', 'gender', 'paperlessbilling', 'paymentmethod', 'children',
       'contract_date', 'married', 'birth_date', 'country', 'zipcode',
       'contract_channel', 'monthlycharges', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'phone_lines', 'streaming', 'month', 'tenure_months', 'tenure_penalty',
       'target', 'increased_rate_diff', 'increased_rate_pct', 'age',
       'contract_months'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100780 entries, 46732 to 74516
Data columns (total 27 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   customerid           100780 non-null  object
 1   gender               100509 non-null  object
 2   paperlessbilling     100542 non-null  object
 3   paymentmethod        100534 non-null  object
 4   children             100780 non-null  int64
 5   contract_date        100780 non-null  datetime64[ns]
 6   married              100475 non-null  object
 7   birth_date           100780 non-null  datetime64[ns]
 8   country              100780 non-null  object
 9   zipcode              100735 non-null  object
 10  contract_channel     24754 non-null   object
 11  monthlycharges       100507 non-null  float64
 12  internetservice      100501 non-null  object
 13  onlinesecurity       100575 non-null  object
 14  onlinebackup         100530 non-null  object
 15  deviceprotection     100562 non-null  object
 16  techsupport          100534 non-null  object
 17  phone_lines          100780 non-null  int64
 18  streaming            100780 non-null  object
 19  month                100780 non-null  int64
 20  tenure_months        26601 non-null   float64
 21  tenure_penalty       26601 non-null   float64
 22  target               100780 non-null  int64
 23  increased_rate_diff  89299 non-null   float64
 24  increased_rate_pct   89299 non-null   float64
 25  age                  100780 non-null  int64
 26  contract_months      100780 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(6), object(14)
memory usage: 21.5+ MB

In [24]:
allowed_digits = ["7", "0", "8", "6", "4", "b"]

# Convertir la lista de dígitos permitidos a una cadena para facilitar la comparación
allowed_digits_str = ''.join(allowed_digits)

# Filtrar el DataFrame para que los últimos dígitos del customerid estén en la lista de dígitos permitidos
filtered_df = df[df['customerid'].str[-1].isin(allowed_digits)]

filtered_df

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,country,zipcode,contract_channel,monthlycharges,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,tenure_months,tenure_penalty,target,increased_rate_diff,increased_rate_pct,age,contract_months
46732,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,1,NaN,NaN,0,NaN,NaN,18,10
46733,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,2,NaN,NaN,0,0.00,0.0,18,11
46734,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,3,NaN,NaN,0,0.00,0.0,18,12
46735,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,4,NaN,NaN,0,0.00,0.0,19,13
46736,000aa74f2769e670325b6e7e76805954,Female,Yes,Mailed check,0,2022-03-04,No,2004-04-20,ES,23222,None,24.50,No,No internet service,No internet service,No internet service,No internet service,2,No,5,NaN,NaN,0,0.00,0.0,19,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47059,ffe125256ef2ac2dc0d2932894c24b87,Female,Yes,Mailed check,0,2022-08-21,No,1955-04-09,ES,27278,None,69.05,Fiber optic,No,No,No,No,1,No,8,NaN,NaN,1,0.00,0.0,68,11
91813,ffe815c8b04b06623d58b4f92c485578,Female,Yes,Electronic check,0,2022-11-28,No,1956-04-16,ES,29340,None,70.65,Fiber optic,No,No,No,No,1,No,1,NaN,NaN,1,NaN,NaN,66,2
91814,ffe815c8b04b06623d58b4f92c485578,Female,Yes,Electronic check,0,2022-11-28,No,1956-04-16,ES,29340,None,70.65,Fiber optic,No,No,No,No,1,No,2,NaN,NaN,1,0.00,0.0,66,3
91815,ffe815c8b04b06623d58b4f92c485578,Female,Yes,Electronic check,0,2022-11-28,No,1956-04-16,ES,29340,None,84.78,Fiber optic,No,No,No,No,1,No,3,NaN,NaN,1,14.13,0.2,66,4
91816,ffe815c8b04b06623d58b4f92c485578,Female,Yes,Electronic check,0,2022-11-28,No,1956-04-16,ES,29340,None,84.78,Fiber optic,No,No,No,No,1,No,4,NaN,NaN,1,0.00,0.0,67,4

In [25]:
filtered_df.describe(include='all')

<ipython-input-25-31146096b0bd>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  filtered_df.describe(include='all')
<ipython-input-25-31146096b0bd>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  filtered_df.describe(include='all')

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,country,zipcode,contract_channel,monthlycharges,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,tenure_months,tenure_penalty,target,increased_rate_diff,increased_rate_pct,age,contract_months
count,37861,37785,37818,37775,37861.000000,37861,37722,37861,37861,37836,9179,37722.000000,37726,37782,37768,37766,37774,37861.000000,37861,37861.000000,10128.000000,10128.000000,37861.000000,33523.000000,33523.000000,37861.000000,37861.000000
unique,4213,2,2,4,NaN,1664,2,3862,2,3419,3,NaN,3,3,3,3,3,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,000aa74f2769e670325b6e7e76805954,Female,Yes,Electronic check,NaN,2017-01-18 00:00:00,No,1964-06-04 00:00:00,ES,23086,Phone,NaN,Fiber optic,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,10,18960,21257,11256,NaN,170,19031,40,37836,54,3718,NaN,14791,17028,15473,15329,16915,NaN,19261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,2017-01-01 00:00:00,NaN,1934-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2023-01-28 00:00:00,NaN,2011-12-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,0.478540,NaN,NaN,NaN,NaN,NaN,NaN,65.553586,NaN,NaN,NaN,NaN,NaN,1.313859,NaN,5.215261,5.425948,97.420570,0.116215,0.497248,0.007577,40.564222,38.619820
std,NaN,NaN,NaN,NaN,0.755187,NaN,NaN,NaN,NaN,NaN,NaN,31.722272,NaN,NaN,NaN,NaN,NaN,0.637104,NaN,2.837274,3.346995,66.537014,0.320486,2.754327,0.038184,19.106079,24.992666
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.550000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000,1.000000,10.010000,0.000000,0.000000,0.000000,11.000000,0.000000
25%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,30.500000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,3.000000,3.000000,44.515000,0.000000,0.000000,0.000000,25.000000,15.000000
50%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,70.200000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,5.000000,5.000000,83.385000,0.000000,0.000000,0.000000,38.000000,37.000000
75%,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,90.700000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,8.000000,8.000000,136.720000,0.000000,0.000000,0.000000,53.000000,62.000000
max,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,142.020000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,10.000000,14.000000,362.300000,1.000000,23.670000,0.200000,89.000000,81.000000

In [26]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37861 entries, 46732 to 91816
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customerid           37861 non-null  object
 1   gender               37785 non-null  object
 2   paperlessbilling     37818 non-null  object
 3   paymentmethod        37775 non-null  object
 4   children             37861 non-null  int64
 5   contract_date        37861 non-null  datetime64[ns]
 6   married              37722 non-null  object
 7   birth_date           37861 non-null  datetime64[ns]
 8   country              37861 non-null  object
 9   zipcode              37836 non-null  object
 10  contract_channel     9179 non-null   object
 11  monthlycharges       37722 non-null  float64
 12  internetservice      37726 non-null  object
 13  onlinesecurity       37782 non-null  object
 14  onlinebackup         37768 non-null  object
 15  deviceprotection     37766 non-null  object
 16  techsupport          37774 non-null  object
 17  phone_lines          37861 non-null  int64
 18  streaming            37861 non-null  object
 19  month                37861 non-null  int64
 20  tenure_months        10128 non-null  float64
 21  tenure_penalty       10128 non-null  float64
 22  target               37861 non-null  int64
 23  increased_rate_diff  33523 non-null  float64
 24  increased_rate_pct   33523 non-null  float64
 25  age                  37861 non-null  int64
 26  contract_months      37861 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(6), object(14)
memory usage: 8.1+ MB

In [32]:
from sklearn.model_selection import train_test_split

# Separación de datos en conjunto de características (X) y variable objetivo (y)
X = filtered_df.drop(columns=['target'])
y = filtered_df['target']

# Identificar los customer_id únicos
unique_customer_ids = filtered_df['customerid'].unique()

# Dividir los customer_id en dos grupos (entrenamiento y holdout)
train_customer_ids, holdout_customer_ids = train_test_split(unique_customer_ids, test_size=0.2, random_state=42)

# Filtrar los datos correspondientes a los customer_id de cada conjunto
train_df = filtered_df[filtered_df['customerid'].isin(train_customer_ids)]
holdout_df = filtered_df[filtered_df['customerid'].isin(holdout_customer_ids)]

# Verificar que los conjuntos sean exclusivos
assert len(set(train_df['customerid']).intersection(set(holdout_df['customerid']))) == 0, "Se encontraron customer_id en ambos conjuntos"

# Verificar la proporción de churn en ambos conjuntos
train_churn_rate = train_df['target'].mean()
holdout_churn_rate = holdout_df['target'].mean()

print("Proporción de churn en conjunto de entrenamiento:", train_churn_rate)
print("Proporción de churn en conjunto de holdout:", holdout_churn_rate)

Proporción de churn en conjunto de entrenamiento: 0.11887834397010681
Proporción de churn en conjunto de holdout: 0.10564304461942257

In [34]:
train_df.describe(include='all')

<ipython-input-34-1e2903f7da16>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  train_df.describe(include='all')
<ipython-input-34-1e2903f7da16>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  train_df.describe(include='all')

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,country,zipcode,contract_channel,monthlycharges,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,tenure_months,tenure_penalty,target,increased_rate_diff,increased_rate_pct,age,contract_months
count,30241,30189,30198,30195,30241.000000,30241,30145,30241,30241,30216,7306,30142.000000,30136,30172,30154,30163,30184,30241.000000,30241,30241.000000,8168.000000,8168.000000,30241.000000,26782.00000,26782.000000,30241.000000,30241.000000
unique,3370,2,2,4,NaN,1531,2,3127,2,2865,3,NaN,3,3,3,3,3,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,000aa74f2769e670325b6e7e76805954,Female,Yes,Electronic check,NaN,2017-01-18 00:00:00,No,1964-06-04 00:00:00,ES,23086,Phone,NaN,Fiber optic,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,10,15144,16983,8993,NaN,150,15210,40,30216,54,3009,NaN,11793,13479,12418,12090,13569,NaN,15385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,2017-01-01 00:00:00,NaN,1934-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2023-01-28 00:00:00,NaN,2011-12-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,0.478357,NaN,NaN,NaN,NaN,NaN,NaN,65.597060,NaN,NaN,NaN,NaN,NaN,1.317913,NaN,5.210079,5.428501,97.874546,0.118878,0.49853,0.007587,40.611752,38.602526
std,NaN,NaN,NaN,NaN,0.756718,NaN,NaN,NaN,NaN,NaN,NaN,31.769285,NaN,NaN,NaN,NaN,NaN,0.638015,NaN,2.835809,3.345064,66.853798,0.323651,2.76079,0.038209,19.041582,25.010450
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.700000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000,1.000000,10.010000,0.000000,0.00000,0.000000,11.000000,0.000000
25%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,30.300000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,3.000000,3.000000,44.515000,0.000000,0.00000,0.000000,25.000000,15.000000
50%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,70.250000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,5.000000,5.000000,83.755000,0.000000,0.00000,0.000000,38.000000,37.000000
75%,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,90.700000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,8.000000,8.000000,137.802500,0.000000,0.00000,0.000000,53.000000,62.000000
max,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,140.100000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,10.000000,14.000000,362.300000,1.000000,23.35000,0.200000,89.000000,81.000000

In [35]:
holdout_df.describe(include='all')

<ipython-input-35-5078d48fba1e>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  holdout_df.describe(include='all')
<ipython-input-35-5078d48fba1e>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  holdout_df.describe(include='all')

,customerid,gender,paperlessbilling,paymentmethod,children,contract_date,married,birth_date,country,zipcode,contract_channel,monthlycharges,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,phone_lines,streaming,month,tenure_months,tenure_penalty,target,increased_rate_diff,increased_rate_pct,age,contract_months
count,7620,7596,7620,7580,7620.000000,7620,7577,7620,7620,7620,1873,7580.000000,7590,7610,7614,7603,7590,7620.000000,7620,7620.000000,1960.000000,1960.000000,7620.000000,6741.000000,6741.000000,7620.000000,7620.000000
unique,843,2,2,4,NaN,653,2,833,1,808,3,NaN,3,3,3,3,3,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,70a5205f4d51c17b035948ae9f424038,Female,Yes,Electronic check,NaN,2022-12-03 00:00:00,No,2009-06-04 00:00:00,ES,15059,Phone,NaN,Fiber optic,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,10,3816,4274,2263,NaN,54,3821,20,7620,27,709,NaN,2998,3549,3055,3239,3346,NaN,3876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,2017-01-02 00:00:00,NaN,1934-07-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2022-12-28 00:00:00,NaN,2011-11-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,0.479265,NaN,NaN,NaN,NaN,NaN,NaN,65.380710,NaN,NaN,NaN,NaN,NaN,1.297769,NaN,5.235827,5.415306,95.528694,0.105643,0.492155,0.007536,40.375591,38.688451
std,NaN,NaN,NaN,NaN,0.749128,NaN,NaN,NaN,NaN,NaN,NaN,31.536122,NaN,NaN,NaN,NaN,NaN,0.633260,NaN,2.843174,3.355866,65.183047,0.307400,2.728697,0.038087,19.360036,24.923483
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.550000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000,1.000000,10.020000,0.000000,0.000000,0.000000,11.000000,1.000000
25%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,34.700000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,3.000000,3.000000,44.572500,0.000000,0.000000,0.000000,24.000000,14.000000
50%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,69.850000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,5.000000,5.000000,82.130000,0.000000,0.000000,0.000000,38.000000,38.000000
75%,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,90.550000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,8.000000,8.000000,132.102500,0.000000,0.000000,0.000000,53.000000,62.000000
max,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,142.020000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,10.000000,14.000000,336.740000,1.000000,23.670000,0.200000,89.000000,81.000000

In [43]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
# Definir las columnas categóricas y numéricas
categorical_columns = ['gender', 'paperlessbilling', 'paymentmethod', 'married', 'country', 'contract_channel', 'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport', 'phone_lines', 'streaming']
numerical_columns = ['children', 'monthlycharges', 'tenure_months', 'tenure_penalty', 'increased_rate_diff', 'increased_rate_pct', 'age', 'contract_months']

# Construir transformadores para las columnas categóricas y numéricas
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

# Combinar los transformadores en un ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_columns),
        ('num', numerical_transformer, numerical_columns)
    ])

# Crear la pipeline completa con el preprocesador y el clasificador (regresión logística)
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('classifier', LogisticRegression(max_iter=10000))])

In [44]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['gender', 'paperlessbilling',
                                                   'paymentmethod', 'married',
                                                   'country',
                                                   'contract_channel',
                                                   'internetservice',
                                                   'onlinesecurity',
                                                   'onlinebackup',
                                                   'deviceprotection',
                                                   'techsupport', 'phone_lines',
                                                   'streaming']),
                                                 ('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['children', 'monthlycharges',
                                                   'tenure_months',
                                                   'tenure_penalty',
                                                   'increased_rate_diff',
                                                   'increased_rate_pct', 'age',
                                                   'contract_months'])])),
                ('classifier', LogisticRegression(max_iter=10000))])

In [45]:
accuracy = pipeline.score(X_holdout, y_holdout)
print("Exactitud del modelo en el conjunto de holdout:", accuracy)

Exactitud del modelo en el conjunto de holdout: 0.8778555394163475